.data-section {
  min-height: 100vh;
  flex-grow: 1;
  background-color: $primary;
  overflow-y: auto;

  table {
    border-spacing: 0;
    width: 100%;
    .table-top-layer.obscure {
      background-color: rgba(128, 128, 128, 0.555);
    }
  }

  .title {
    background-color: greenyellow;
    display: flex;
    align-items: center;
    h2 {
      flex-grow: 1;
      text-align: center;
      padding: 1rem 0;
    }
    .burger-menu {
      display: none;
      cursor: pointer;
      padding: 1rem;
    }
  }

  thead {
    th {
      background-color: rgb(0, 71, 18);
      color: greenyellow;
      position: sticky;
      top: 0;
      padding: 1rem 0.3rem;
      cursor: pointer;
      .header-item {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      span {
        display: none;
      }
    }
  }

  tbody {
    cursor: pointer;
    tr {
      &.odd {
        background-color: rgba(255, 255, 0, 0.384);
      }
      &.even {
        background-color: rgba(163, 219, 52, 0.384);
      }
      &:hover {
        background-color: rgba(88, 126, 0, 0.61);
        color: beige;
        font-weight: 700;
      }
      td {
        padding: 0.3rem;
        &.center {
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .data-section .title .burger-menu {
    display: block;
  }
}
